// 上下左右边距20px
.p-20 {
  padding: 20px;
}
// 上下边距20px
.ptb-20 {
  padding: 20px 0;
}
// 左右内边距10px
.plr-10 {
  padding: 0 10px;
}
// 上下外边距30px
.mtb-30 {
  margin: 30px 0;
}
// 上外边距20px
.mt-20 {
  margin-top: 20px;
}
// 不同高度
.h40 {
  height: 40px !important;
  // background: pink;
}
.h220 {
  height: 220px !important;
  // background: pink;
}
.h240 {
  height: 240px !important;
}
.h260 {
  height: 260px !important;
}
.h280 {
  height: 280px !important;
  // background: pink;
}
.h300 {
  height: 300px !important;
}
.h310{
  height: 320px !important;

}
.h284{
  height: 284px !important;
}
.h390 {
  height: 390px !important;
}
.h410 {
  height: 410px !important;
}
// 字体大小
.fs-20 {
  font-size: 20px;
}
